html,body {
	background-color: #fdf5e6;
}

text {
	font-family: Georgia;
	letter-spacing: 2px;
}

#graph {
	float: left;
}

#toggle {
	float: left;
}

#profiles {
	float: left;
}

#teamBlurb {
	float: left;
}

.axis path, .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}
			
.axis text {
    font-family: serif;
    font-size: 15px;
}

#lines {
	stroke-width: 2;
	stroke: #ffffff;
}

#backgroundRect {
	fill: #fdf5e6;
}