#home {
    float: left;
	margin-left: 10px;
	font-size: 200%;
	margin-top: 7px;
}

#contact {
    float: right;
	margin-right: 10px;
	font-size: 150%;
	margin-top: 10px;
}

#home,#contact {
	color: white;
}

#navBar {
	height: 50px;
	width: 100%;
	background-color: #FFAA00;
/*	position: fixed;*/
}