body {
	background-color: #E4F1FF;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0px;
}

#mainContent {
	margin-left: 10%;
	padding-bottom: 0px;
	height: 500px;
	overflow: auto;
	width: 80%;
	text-align: center;
	background-color: #FFCC99;
}

#header1 {
	background-color: #FFAA00;
	width: 100%;
	height: 120px;
	padding-top: 40px;
	text-align: center;
	color: #ffffff;
	font-size: 450%;
}

#pronounce {
	font-size: 32px;
	display: inline;
}

#subtitle {
	background-color: #FFAA00;
	width: 100%;
	padding-bottom: 40px;
	text-align: center;
}

#inlines {
	width: 100%;
	height: 50px;
	text-align: center;
	color: #ffffff;
	font-size: 200%;
	display: inline;
}

#paren {
	width: 100%;
	height: 50px;
	text-align: center;
	color: #FF8000;
	font-size: 200%;
	display: inline;
}

#link1 {
	margin-left: 10%;
	margin-top: 10%;
	float: left;
	width: 40%;
	height: auto;
}

h1 {
	color: #eeeeee;
}

.period {
	display: inline;
	color: #eeeeee;
	padding-left: 0px;
}

