body {
	background-color: #E4F1FF;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0px;
}

#content {
	width: 100%;
    height: 100%;
	background-color: #675c47;
}

#header1 {
	background-color: #112233;
	width: 100%;
	height: 100px;
	padding-top: 10px;
	text-align: center;
	color: #ffffff;
	font-size: 400%;
}

#inlines {
	width: 100%;
	height: 50px;
	text-align: center;
	color: #ffffff;
	font-size: 200%;
	display: inline;
}

#paren {
	width: 100%;
	height: 50px;
	text-align: center;
	color: #aaaaaa;
	font-size: 200%;
	display: inline;
}

h1 {
	color: #eeeeee;
}

#subtitle {
	background-color: #112233;
	width: 100%;
	padding-bottom: 10px;
	text-align: center;
}

.period {
	display: inline;
	color: #eeeeee;
	padding-left: 0px;
}

