html, body {
	background-color: #d4dcde;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0px;
	padding: 0px;
}

#header {
	display: block;
}

#headerImageDiv {
	float: left;
	height: 188px;
	width: 16%;
	background-color: #727c91;
}

#headerImage {
	/*height: 95%;*/
	height: 100%;
	width: auto;
	/*margin-left: 2.5%;
	margin-top: 5%;*/
}

#headerTextDiv {
	float: left;
	width: 70%;
	height: 188px;
	background-color: #727c91;
}

#headerFillerDiv {
	float: left;
	width: 14%;
	height: 188px;
	background-color: #727c91;
}

#hello {
	float: left;
	width: 100%;
	height: 120px;
	padding-top: 0px;
	text-align: center;
	color: #ffffff;
	font-size: 450%;
}

#pronounce {
	font-size: 32px;
	display: inline;
}

#subtitle {
	width: 100%;
	padding-bottom: 30px;
	text-align: center;
}

#inlines {
	width: 100%;
	height: 78px;
	text-align: center;
	color: #d4dcde;
	font-size: 200%;
	display: inline;
}

#paren {
	width: 100%;
	height: 78px;
	text-align: center;
	color: #9caeb2;
	font-size: 200%;
	display: inline;
}

#spotlight {
	background-color: #99CCFF;
	width: 80%;
	margin-left: 10%;
}

.fa fa-chevron-circle-left {
	font-size: 32px;
	display: inline;
}

#spotlightTitle {
	fill: white;
	font-size: 200%;
}

#spotlightSubtitle {
	fill: white;
	font-size: 100%;
}

#projects {
	margin-left: 10%;
	padding-bottom: 0px;
	height: 800px;
	width: 80%;
	text-align: center;
	background-color: #d4dcde;
}

#credits {
	margin-left: 10%;
	padding-bottom: 0px;
	width: 80%;
	text-align: center;
	background-color: #727c91;
}

#prefMathCaption {
	color: #ffffff;
	font-style: italic;
	margin-top: 0px;
	padding-top: 0px;
}