#home {
    float: left;
	margin-left: 10px;
	font-size: 30px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#contactDiv {
    float: right;
	margin-right: 10px;
	font-size: 20px;
	margin-top: 14px;
}

#home,#contactDiv {
	color: white;
}

i:hover { 
    color: orange;
}

#contactMe {
	display:inline;
	margin-right: 10px;
}

.contactButton {
	display: inline;
	margin-right: 10px;
	color: white;
	fill: white;
	font-size: 20px;
}

#navBar {
	height: 48px;
	width: 100%;
	background-color: #727c91;
/*	position: fixed;*/
}